<aside class="w-56 shrink-0 border-r bg-white">
  <div class="flex items-center h-16 px-6 font-semibold">
  <%= link_to root_path, class: "flex items-center space-x-2" do %>
    <span class="inline-block w-3 h-3 rounded-full bg-indigo-600"></span>
    <span>READING CIRCLE</span>
  <% end %>
  </div>
  <nav class="mt-6">
    <ul class="space-y-1 text-sm">
      <li>
        <%= link_to root_path,
                    class: "flex w-full items-center px-6 py-3 font-medium text-indigo-600 bg-indigo-50 rounded-r-lg" do %>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to groups_path,
                    class: "block px-6 py-3 hover:bg-gray-50 rounded-r-lg" do %>
          Reading Groups
        <% end %>
      </li>
      <li>
        <%= link_to assignments_path,
                    class: "block px-6 py-3 hover:bg-gray-50 rounded-r-lg" do %>
          Assignments
        <% end %>
      </li>
      <li>
        <%= link_to root_path,
                    class: "block px-6 py-3 hover:bg-gray-50 rounded-r-lg" do %>
          Profile
        <% end %>
      </li>
    </ul>
  </nav>
</aside>
